In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('http://tennis-data.co.uk/2024/20234.xlsx')

In [3]:
df.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'WPts', 'LPts',
       'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets',
       'Lsets', 'Comment', 'B365W', 'B365L', 'PSW', 'PSL', 'MaxW', 'MaxL',
       'AvgW', 'AvgL'],
      dtype='object')

In [46]:
df.iloc[0]

ATP                                1
Location                    Brisbane
Tournament    Brisbane International
Date             2023-12-31 00:00:00
Series                        ATP250
Court                        Outdoor
Surface                         Hard
Round                      1st Round
Best of                            3
Winner                    Popyrin A.
Loser                   O Connell C.
WRank                             40
LRank                           68.0
WPts                            1084
LPts                           780.0
W1                               6.0
L1                               4.0
W2                               6.0
L2                               7.0
W3                               7.0
L3                               6.0
W4                               NaN
L4                               NaN
W5                               NaN
L5                               NaN
Wsets                            2.0
Lsets                            1.0
Comment                    Completed
B365W                           1.62
B365L                            2.3
PSW                             1.72
PSL                             2.23
MaxW                            1.77
MaxL                            2.32
AvgW                            1.68
AvgL                            2.17
Name: 0, dtype: object

In [51]:
for index, row in df.iterrows():
    #print(row)
    for set_number in range(1, 6): # Loop through 5 possible sets
        winner_score = row.get(f"W{set_number}")
        loser_score = row.get(f"L{set_number}")
        # Only insert scores where there is data (i.e., not NaN)
        if pd.notna(winner_score) and pd.notna(loser_score):
            print(winner_score)
            print(loser_score)
            print('-----')
    break

6.0
4.0
-----
6.0
7.0
-----
7.0
6.0
-----

In [53]:
for index, row in df.iterrows():
    # Insert Betting Odds for each bookmaker
    bookmakers = {
        "Bet365": (row['B365W'], row['B365L']),
        "Pinnacle": (row['PSW'], row['PSL']),
        "Max": (row['MaxW'], row['MaxL']),
        "Avg": (row['AvgW'], row['AvgL'])
    }
    for bookmaker, odds in bookmakers.items():
        winner_odds, loser_odds = odds
        print((bookmaker, winner_odds, loser_odds))
    break

('Bet365', 1.62, 2.3)
('Pinnacle', 1.72, 2.23)
('Max', 1.77, 2.32)
('Avg', 1.68, 2.17)

In [30]:
# Check for multiple locations for the same tournament
duplicates = df.drop_duplicates(subset=['Tournament', 'Round'])

# Find tournaments with multiple locations
conflicting_tournaments = duplicates['Tournament'].value_counts()
conflicting_tournaments = conflicting_tournaments[conflicting_tournaments > 1]

if not conflicting_tournaments.empty:
    print("Tournaments with multiple locations:")
    print(conflicting_tournaments)
else:
    print("No tournaments have multiple locations.")

Tournaments with multiple locations:
Tournament
Australian Open                                 7
BNP Paribas Open                                7
Miami Open                                      7
Mutua Madrid Open                               7
Internazionali BNL d'Italia                     7
Wimbledon                                       7
US Open                                         7
French Open                                     7
Barcelona Open                                  6
Monte Carlo Masters                             6
Canadian Open                                   6
Western & Southern Financial Group Masters      6
Winston-Salem Open at Wake Forest University    6
Citi Open                                       6
ASB Classic                                     5
Adelaide International                          5
Hong Kong Tennis Open                           5
Open Sud de France                              5
Brisbane International                          5
Chile Open                                      5
Dubai Tennis Championships                      5
Abierto Mexicano                                5
Rio Open                                        5
Qatar Exxon Mobil Open                          5
Los Cabos Open                                  5
ABN AMRO World Tennis Tournament                5
Delray Beach Open                               5
Cordoba Open                                    5
Argentina Open                                  5
Open 13                                         5
Dallas Open                                     5
BMW Open                                        5
Tiriac Open                                     5
Grand Prix Hassan II                            5
Estoril Open                                    5
Halle Open                                      5
Rosmalen Grass Court Championships              5
Stuttgart Open                                  5
Lyon Open                                       5
Geneva Open                                     5
U.S. Men's Clay Court Championships             5
Eastbourne International                        5
Queen's Club Championships                      5
Hall of Fame Championships                      5
European Open                                   5
Suisse Open Gstaad                              5
Nordea Open                                     5
Mallorca Championships                          5
Croatia Open                                    5
Atlanta Open                                    5
Generali Open                                   5
Name: count, dtype: int64

In [33]:
t = df[df["Tournament"]=="US Open"]
t.groupby(["Tournament", "Round"]).size()

Tournament  Round
US Open     1st Round        64
            2nd Round        32
            3rd Round        16
            4th Round         8
            Quarterfinals     4
            Semifinals        2
            The Final         1
dtype: int64

In [24]:
df.groupby(["Tournament", "Location"]).size()

Tournament                                    Location
ABN AMRO World Tennis Tournament              Rotterdam            31
ASB Classic                                   Auckland             27
Abierto Mexicano                              Acapulco             31
Adelaide International                        Adelaide             27
Argentina Open                                Buenos Aires         27
Atlanta Open                                  Atlanta              27
Australian Open                               Melbourne           127
BMW Open                                      Munich               27
BNP Paribas Open                              Indian Wells         95
Barcelona Open                                Barcelona            47
Brisbane International                        Brisbane             31
Canadian Open                                 Montreal             55
Chile Open                                    Santiago             27
Citi Open                                     Washington           47
Cordoba Open                                  Cordoba              27
Croatia Open                                  Umag                 27
Dallas Open                                   Dallas               27
Delray Beach Open                             Delray Beach         27
Dubai Tennis Championships                    Dubai                31
Eastbourne International                      Eastbourne           27
Estoril Open                                  Estoril              27
European Open                                 Hamburg              31
French Open                                   Paris               127
Generali Open                                 Kitzbuhel            27
Geneva Open                                   Geneva               27
Grand Prix Hassan II                          Marrakech            27
Hall of Fame Championships                    Newport              27
Halle Open                                    Halle                31
Hong Kong Tennis Open                         Hong Kong            27
Internazionali BNL d'Italia                   Rome                 95
Los Cabos Open                                Los Cabos            27
Lyon Open                                     Lyon                 27
Mallorca Championships                        Mallorca             27
Miami Open                                    Miami                95
Monte Carlo Masters                           Monte Carlo          55
Mutua Madrid Open                             Madrid               95
Nordea Open                                   Bastad               27
Open 13                                       Marseille            27
Open Sud de France                            Montpellier          27
Qatar Exxon Mobil Open                        Doha                 27
Queen's Club Championships                    Queens Club          31
Rio Open                                      Rio de Janeiro       31
Rosmalen Grass Court Championships            's-Hertogenbosch     27
Stuttgart Open                                Stuttgart            27
Suisse Open Gstaad                            Gstaad               27
Tiriac Open                                   Bucharest            27
U.S. Men's Clay Court Championships           Houston              27
US Open                                       New York            127
Western & Southern Financial Group Masters    Cincinnati           55
Wimbledon                                     London              127
Winston-Salem Open at Wake Forest University  Winston-Salem        47
dtype: int64